.moving-diag {
  animation-duration: 20s;
  animation-name: move-diag;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.moving-horiz-diag {
  animation-duration: 25s;
  animation-name: move-horiz-diag;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.moving-horiz-diag2 {
  animation-duration: 30s;
  animation-name: move-horiz-diag2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.rotating {
    animation-duration: 20s;
    transform-origin: 50% 50%;;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .moving-y {
    animation-duration: 25s;
    transform-origin: 50% 50%;;
    animation-name: move-y;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

@keyframes move-diag {
  0% {
    transform: translate(-30px, -30px);
  }

  50% {
    transform: translate(30px, 30px);
  }

  100% {
    transform: translate(-30px, -30px);
  }
}

@keyframes move-y {
  0% {
    transform: translate(0px, 60px);
  }

  50% {
    transform: translate(0px, -80px);
  }

  100% {
    transform: translate(0px, 60px);
  }
}

@keyframes move-horiz-diag {
  0% {
    transform: translate(50px, -50px);
  }

  30% {
    transform: translate(10px, 50px);
  }

  60% {
    transform: translate(-50px, -50px);
  }

  100% {
    transform: translate(50px, -50px);
  }
}

@keyframes move-horiz-diag2 {
  0% {
    transform: translate(50px, -80px);
  }

  30% {
    transform: translate(10px, 50px);
  }

  60% {
    transform: translate(50px, -50px);
  }

  100% {
    transform: translate(50px, -80px);
  }
}


@keyframes rotate {
    0% {
      transform: rotate(-10deg);
    }
  
    30% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(-10deg);
    }
  }


  @keyframes rotate-y {
    0% {
      transform: rotate(0, -20deg);
    }
  
    30% {
      transform: rotate(0,20deg);
    }
  
    100% {
      transform: rotate(0,-20deg);
    }
  }